.post_type-two-subtitle {
    width: 295px;
    height: 52px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #F5F5F5;    
    margin: 0;
    padding: 0 17px 12px 16px;
}

@media screen and (max-width: 1439px) {
	.post_type-two-subtitle {
        width: 167px;
        height: 36px;
        font-size: 14px;
        line-height: 18px;
        padding: 0 5px 12px 8px;
	}
  }