.experience-card {
  height: 526px;
  min-width: 328px;
  padding: 32px 15.5px 28px;
  box-sizing: border-box;
  background-color: #E7E4DE;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 8px;
}

.experience-card:hover {
  opacity: .8;
}