.post_type-two-text {
    width: 295px;
    height: 72px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #F5F5F5;
    margin: 0;
    padding: 0 17px 24px 16px;
}

@media screen and (max-width: 1439px) {
	.post_type-two-text {
        visibility: hidden;
	}
  }