.materials__container {
  max-width: 1440px;
  background-color: #ffffff;
  padding-bottom: 75px;
  margin: 0 auto 0 auto;
}

/* @media screen and (max-width: 1279px) {
  .materials__container {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .materials__container {
    max-width: 1023px;
  }
}

@media screen and (max-width: 767px) {
  .materials__container {
    max-width: 767px;
  }
} */
