.header__submenu-item {
  font-family: 'PT', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 1.30;
  padding: 12px 10px;
  color: #323232;
  margin-right: 40px;
  box-sizing: content-box;
  border-bottom: 1px solid transparent;
}

.header__submenu-item:last-of-type {
  margin: 0;
}

.header__submenu-item:hover {
  border-bottom: 1px solid #323232;
  cursor: pointer;
}