.header__submenu-list {
  opacity: 0;
  visibility: hidden;
  display: flex;
  max-width: 1400px;
  min-height: 50px;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  transition: .1s ease;
}