.container__heading {
  max-width: 229px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 120%;
  color: #323232;
  margin: 0 auto 40px auto;
  padding-top: 56px;
}
