.post {
    width: 328px;
    height: 526px;
    border-radius: 8px;
}

.post:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 1439px) {
	.post {
        height: 277px;
        width: 175px;
	}
  }
    
@media screen and (max-width: 600px) {
	.post  {
        height: 352px;
        width: 252px;  
	}
  }