.post_type-one-image {
    margin: 0;
    width: 204px;
    height: 204px;    
    padding: 0 62px;
    border-radius: 50%;
}

@media screen and (max-width: 1439px) {
	.post_type-one-image {
        width: 86px;
        height: 86px;
        padding: 0 47px;
	}
  }
    
@media screen and (max-width: 600px) {
	.post_type-one-image  {
        width: 160px;
        height: 160px;  
        padding: 0 46px;        
	}
  }