.post_type-three-caption {
    font-family: PT Sans;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    color: #F5F5F5;
    margin: 0;
    padding: 12px 16.95px 250px;
    width: 294.1px;
    height: 21px;      
}

@media screen and (max-width: 1439px) {
	.post_type-three-caption {
        width: 164px;
        height: 16px;
        font-size: 12px;
        line-height: 16px;
        padding: 12px 8px 170px;
	}
  }
    
@media screen and (max-width: 600px) {
	.post_type-three-caption {
        width: 228px;
        height: 22px;
        padding: 16px 12px 4px;       
	}
  }